{% extends "base.html" %}

{% block page_title %}
  All months listed
{% endblock page_title %}

{% block content %}
{% include "new_challenge/includes/header.html" %}
 <ul>
    {% for month in months %}
  <li><a href="{% url "new_challenge_path" month %}">{{ month | title }}</a></li>
    {% endfor %}
 </ul>
{% endblock  %}



{% comment %} 
Think of it like a shortcut or a nickname.

{% url ... %}: This tells Django, "I need you to build a URL for me."

"new_challenge_path": This is the nickname (or name) you gave to one of your URL patterns in your urls.py file.

month: This is a variable. In your code, it's the current month from your {% for ... %} loop 
(e.g., "january", "february", etc.). You're passing this variable into the URL pattern. 

{% endcomment %}