{% extends 'base.html' %}
{% load static %}

{% block page_title %}
  My Blog
{% endblock %} {% block css_stylesheet %}
  <link rel="stylesheet" href=" {% static "blog/post.css" %}" />"
  <link rel="stylesheet" href="{% static 'blog/index.css' %}" />
{% endblock %} {% block content %}
  <section id="welcome">
    <header>
      <img src="{% static 'blog/images/george.jpg' %}" alt="George, the author
    of this blog" />
      <h2>George's blog</h2>
    </header>
    <p>Hi, I am George and this is my blog</p>
  </section>

  <section id="latest-posts">
    <h2>My latest thoughts</h2>
    <ul>
      {% include 'blog/includes/post.html' %}
    </ul>
  </section>

  <section id="about">
    <h2>What i do</h2>
    <p>Learn how to build web applications and websites with Python and the Django framework</p>
  </section>
{% endblock %}
